**/etc
**/.ipynb_checkpoints
**/bin

linear-algebra-for-machine-learning/python/myenv/lib/
linear-algebra-for-machine-learning/python/myenv/jupyter/
linear-algebra-for-machine-learning/python/myenv/share

.DS_Store

data/dataset/